<%= form_for(@importantvocab) do |f| %>
  <% if @importantvocab.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@importantvocab.errors.count, "error") %> prohibited this importantvocab from being saved:</h2>

      <ul>
      <% @importantvocab.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pipisode_id %><br>
    <%= f.number_field :pipisode_id %>
  </div>
  <div class="field">
    <%= f.label :story_id %><br>
    <%= f.number_field :story_id %>
  </div>
  <div class="field">
    <%= f.label :word_id %><br>
    <%= f.number_field :word_id %>
  </div>
  <div class="field">
    <%= f.label :sentence_id %><br>
    <%= f.number_field :sentence_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
