<div class="container">
  <h1>Quiz questions</h1>

  <table>
    <tr>
      <th>Question</th>
      <th>Correctanswer</th>
      <th>Dummyanswer1</th>
      <th>Dummyanswer2</th>
      <th>Pipisode</th>
      <th>Correct image name</th>
      <th>Correct image url</th>
    </tr>

  <% @datasentences_quiz.each do |datasentence| %>
    <tr>
      <td><%= datasentence.question %></td>
      <td><%= datasentence.correctanswer %></td>
      <td><%= datasentence.dummyanswer1 %></td>
      <td><%= datasentence.dummyanswer2 %></td>
      <td>
          <% if datasentence.pipisode_id.present? %>
            <% p = Pipisode.find_by_cms_id(datasentence.pipisode_id) %>
            <%= p.pipisode_title %>
          <% end %>
      </td>
      <td><%= datasentence.correct_image_name %></td>
      <td><%= datasentence.correct_image_url %></td>
    </tr>
  <% end %>
  </table>
  <hr >
  <h2>Correct sentence?</h2>
  <table>
    <tr>
      <th>Image</th>
      <th>Good sentence</th>
      <th>Bad sentence 1</th>
      <th>Bad sentence 2</th>
      <th>Bad sentence 3</th>
      <th>Pipisode</th>
      <th>Correct image name</th>
      <th>Correct image url</th>
    </tr>

  <% @datasentences_correctsentence.each do |datasentence| %>
    <tr>
      <td><%= datasentence.correct_image_name %></td>
      <td><%= datasentence.good_sentence %></td>
      <td><%= datasentence.bad_sentence1 %></td>
      <td><%= datasentence.bad_sentence2 %></td>
      <td><%= datasentence.bad_sentence3 %></td>
      <td>
          <% if datasentence.pipisode_id.present? %>
            <% p = Pipisode.find_by_cms_id(datasentence.pipisode_id) %>
            <%= p.pipisode_title %>
          <% end %>
      </td>
      <td><%= datasentence.correct_image_name %></td>
      <td><%= datasentence.correct_image_url %></td>
      </tr>
  <% end %>
  </table>
  <br />

</div>
