<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @datasentence.question %>
</p>

<p>
  <strong>Correctanswer:</strong>
  <%= @datasentence.correctanswer %>
</p>

<p>
  <strong>Dummyanswer1:</strong>
  <%= @datasentence.dummyanswer1 %>
</p>

<p>
  <strong>Dummyanswer2:</strong>
  <%= @datasentence.dummyanswer2 %>
</p>

<p>
  <strong>Good sentence:</strong>
  <%= @datasentence.good_sentence %>
</p>

<p>
  <strong>Bad sentence1:</strong>
  <%= @datasentence.bad_sentence1 %>
</p>

<p>
  <strong>Bad sentence2:</strong>
  <%= @datasentence.bad_sentence2 %>
</p>

<p>
  <strong>Bad sentence3:</strong>
  <%= @datasentence.bad_sentence3 %>
</p>

<p>
  <strong>Pipisode:</strong>
  <%= @datasentence.pipisode_id %>
</p>

<p>
  <strong>Programsession:</strong>
  <%= @datasentence.programsession_id %>
</p>

<p>
  <strong>Story:</strong>
  <%= @datasentence.story_id %>
</p>

<p>
  <strong>Programmodule:</strong>
  <%= @datasentence.programmodule_id %>
</p>

<p>
  <strong>Correct image name:</strong>
  <%= @datasentence.correct_image_name %>
</p>

<p>
  <strong>Correct image url:</strong>
  <%= @datasentence.correct_image_url %>
</p>

<p>
  <strong>Dummy image1 name:</strong>
  <%= @datasentence.dummy_image1_name %>
</p>

<p>
  <strong>Dummy image1 url:</strong>
  <%= @datasentence.dummy_image1_url %>
</p>

<p>
  <strong>Dummy image2 name:</strong>
  <%= @datasentence.dummy_image2_name %>
</p>

<p>
  <strong>Dummy image2 url:</strong>
  <%= @datasentence.dummy_image2_url %>
</p>

<p>
  <strong>Correctsentence:</strong>
  <%= @datasentence.correctsentence %>
</p>

<p>
  <strong>Correctword:</strong>
  <%= @datasentence.correctword %>
</p>

<p>
  <strong>Correctimage:</strong>
  <%= @datasentence.correctimage %>
</p>

<p>
  <strong>Question french:</strong>
  <%= @datasentence.question_french %>
</p>

<p>
  <strong>Question spanish:</strong>
  <%= @datasentence.question_spanish %>
</p>

<p>
  <strong>Question mandarin:</strong>
  <%= @datasentence.question_mandarin %>
</p>

<p>
  <strong>Correct answer french:</strong>
  <%= @datasentence.correct_answer_french %>
</p>

<p>
  <strong>Dummyanswer1 french:</strong>
  <%= @datasentence.dummyanswer1_french %>
</p>

<p>
  <strong>Dummyanswer2 french:</strong>
  <%= @datasentence.dummyanswer2_french %>
</p>

<p>
  <strong>Correct answer spanish:</strong>
  <%= @datasentence.correct_answer_spanish %>
</p>

<p>
  <strong>Dummyanswer1 spanish:</strong>
  <%= @datasentence.dummyanswer1_spanish %>
</p>

<p>
  <strong>Dummyanswer2 spanish:</strong>
  <%= @datasentence.dummyanswer2_spanish %>
</p>

<p>
  <strong>Correct answer mandarin:</strong>
  <%= @datasentence.correct_answer_mandarin %>
</p>

<p>
  <strong>Dummyanswer1 mandarin:</strong>
  <%= @datasentence.dummyanswer1_mandarin %>
</p>

<p>
  <strong>Dummyanswer2 mandarin:</strong>
  <%= @datasentence.dummyanswer2_mandarin %>
</p>

<p>
  <strong>Good sentence french:</strong>
  <%= @datasentence.good_sentence_french %>
</p>

<p>
  <strong>Bad sentence1 french:</strong>
  <%= @datasentence.bad_sentence1_french %>
</p>

<p>
  <strong>Bad sentence2 french:</strong>
  <%= @datasentence.bad_sentence2_french %>
</p>

<p>
  <strong>Bad sentence3 french:</strong>
  <%= @datasentence.bad_sentence3_french %>
</p>

<p>
  <strong>Good sentence spanish:</strong>
  <%= @datasentence.good_sentence_spanish %>
</p>

<p>
  <strong>Bad sentence1 spanish:</strong>
  <%= @datasentence.bad_sentence1_spanish %>
</p>

<p>
  <strong>Bad sentence2 spanish:</strong>
  <%= @datasentence.bad_sentence2_spanish %>
</p>

<p>
  <strong>Bad sentence3 spanish:</strong>
  <%= @datasentence.bad_sentence3_spanish %>
</p>

<p>
  <strong>Good sentence mandarin:</strong>
  <%= @datasentence.good_sentence_mandarin %>
</p>

<p>
  <strong>Bad sentence1 mandarin:</strong>
  <%= @datasentence.bad_sentence1_mandarin %>
</p>

<p>
  <strong>Bad sentenece2 mandarin:</strong>
  <%= @datasentence.bad_sentenece2_mandarin %>
</p>

<p>
  <strong>Bad sentence3 mandarin:</strong>
  <%= @datasentence.bad_sentence3_mandarin %>
</p>

<%= link_to 'Edit', edit_datasentence_path(@datasentence) %> |
<%= link_to 'Back', datasentences_path %>
