<h1>Listing sessions</h1>

<table>
  <thead>
    <tr>
      <th>Account username</th>
      <th>Child name</th>
      <th>Has completed</th>
      <th>Start</th>
      <th>End</th>
      <th>Session identifier</th>
      <th>Session name</th>
      <th>Session</th>
      <th>Session number</th>
      <th>Session type</th>
      <th>Scenes</th>
      <th>Phoneme ids</th>
      <th>Target phoneme</th>
      <th>Word ids</th>
      <th>Target word</th>
      <th>Keyword ids</th>
      <th>Target keyword</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sessions.each do |session| %>
      <tr>
        <td><%= session.account_username %></td>
        <td><%= session.child_name %></td>
        <td><%= session.has_completed %></td>
        <td><%= session.start %></td>
        <td><%= session.end %></td>
        <td><%= session.session_identifier %></td>
        <td><%= session.session_name %></td>
        <td><%= session.session_id %></td>
        <td><%= session.session_number %></td>
        <td><%= session.session_type %></td>
        <td><%= session.scenes %></td>
        <td><%= session.phoneme_ids %></td>
        <td><%= session.target_phoneme_id %></td>
        <td><%= session.word_ids %></td>
        <td><%= session.target_word_id %></td>
        <td><%= session.keyword_ids %></td>
        <td><%= session.target_keyword_id %></td>
        <td><%= link_to 'Show', session %></td>
        <td><%= link_to 'Edit', edit_session_path(session) %></td>
        <td><%= link_to 'Destroy', session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Session', new_session_path %>
