<h1>Listing glossaryterms</h1>

<table>
  <thead>
    <tr>
      <th>Term</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @glossaryterms.each do |glossaryterm| %>
      <tr>
        <td><%= glossaryterm.term %></td>
        <td><%= glossaryterm.description %></td>
        <td><%= link_to 'Show', glossaryterm %></td>
        <td><%= link_to 'Edit', edit_glossaryterm_path(glossaryterm) %></td>
        <td><%= link_to 'Destroy', glossaryterm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Glossaryterm', new_glossaryterm_path %>
