<div class="container user-login text-center">
	<img src='/assets/forest_bg.jpg' id="homepage-container" />
	<h2>Join the community!</h2>

	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	  <%= devise_error_messages! %>

	  <div><%= f.label :first_name %><br />
	  <%= f.text_field :first_name, :autofocus => true %></div>
	  <div><%= f.label :second_name %><br />
	  <%= f.text_field :second_name, :autofocus => true %></div>
	  <div class="field  ">
      	<%= f.label 'Country' %><br />
      	<%= f.country_select("country", [ "United Kingdom", "US", "India" ]) %>
      </div>

	  <div><%= f.label :email %><br />
	  <%= f.email_field :email, :autofocus => true %></div>

	  <div><%= f.label :password %><br />
	  <%= f.password_field :password %></div>

	  <div><%= f.label :password_confirmation %><br />
	  <%= f.password_field :password_confirmation %></div>

	  <br />

	  <div><%= f.submit "Sign up", class: 'btn btn-large-yellow btn-large' %></div>
	<% end %>
	<hr>
	<p>Already have a Pip account?</p>
	<%= link_to "Sign in", new_user_session_path, class: 'btn btn-yellow' %>
</div>
