<h1>Listing pipusers</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Account username</th>
      <th>Ip address</th>
      <th>Country</th>
      <th>Postcode</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pipusers.each do |pipuser| %>
      <tr>
        <td><%= pipuser.first_name %></td>
        <td><%= pipuser.last_name %></td>
        <td><%= pipuser.account_username %></td>
        <td><%= pipuser.ip_address %></td>
        <td><%= pipuser.country %></td>
        <td><%= pipuser.postcode %></td>
        <td><%= link_to 'Show', pipuser %></td>
        <td><%= link_to 'Edit', edit_pipuser_path(pipuser) %></td>
        <td><%= link_to 'Destroy', pipuser, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pipuser', new_pipuser_path %>
