<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @pipuser.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @pipuser.last_name %>
</p>

<p>
  <strong>Account username:</strong>
  <%= @pipuser.account_username %>
</p>

<p>
  <strong>Ip address:</strong>
  <%= @pipuser.ip_address %>
</p>

<p>
  <strong>Country:</strong>
  <%= @pipuser.country %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @pipuser.postcode %>
</p>

<%= link_to 'Edit', edit_pipuser_path(@pipuser) %> |
<%= link_to 'Back', pipusers_path %>
