<h1>Listing sentences</h1>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th>Linking index</th>
      <th>Section</th>
      <th>Is target sentence</th>
      <th>Is dummy sentence</th>
      <th>Gametype</th>
      <th>Programsession</th>
      <th>Text french</th>
      <th>Text spanish</th>
      <th>Text mandarin</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sentences.each do |sentence| %>
      <tr>
        <td><%= sentence.text %></td>
        <td><%= sentence.linking_index %></td>
        <td><%= sentence.section_id %></td>
        <td><%= sentence.is_target_sentence %></td>
        <td><%= sentence.is_dummy_sentence %></td>
        <td><%= sentence.gametype %></td>
        <td><%= sentence.programsession_id %></td>
        <td><%= sentence.text_french %></td>
        <td><%= sentence.text_spanish %></td>
        <td><%= sentence.text_mandarin %></td>
        <td><%= link_to 'Show', sentence %></td>
        <td><%= link_to 'Edit', edit_sentence_path(sentence) %></td>
        <td><%= link_to 'Destroy', sentence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sentence', new_sentence_path %>
