<div class="container">
  <h1>Listing storypages</h1>

  <table>
    <thead>
      <tr>
        <th>Story</th>
        <th>Text</th>
        <th>Image</th>
        <th>Audio</th>
        <th>Pageorder</th>
        <th>Frenchtext</th>
        <th>Spanishtext</th>

        <th></th>
    
      </tr>
    </thead>

    <tbody>
      <% @storypages.each do |storypage| %>
        <tr>
          <td><%= storypage.story_id %></td>
          <td><%= storypage.text %></td>
          <td><%= storypage.image %></td>
          <td><%= storypage.audio %></td>
          <td><%= storypage.pageorder %></td>
          <td><%= storypage.frenchtext %></td>
          <td><%= storypage.spanishtext %></td>

          <td><%= link_to 'Show', storypage %></td>
         
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
</div>

