<%= form_for(@phoneme) do |f| %>
  <% if @phoneme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@phoneme.errors.count, "error") %> prohibited this phoneme from being saved:</h2>

      <ul>
      <% @phoneme.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="clear"></div>
  <div class="field four columns">
    <%= f.label :'Grapheme' %><br />
    <%= f.text_field :phoneme %>
  </div>

  <div class="clear"></div>

  <div class="field four columns">
    <%= f.label 'Phoneme' %><br />
    <%= f.text_field :grapheme %>
  </div>

  <div class="field four columns">
    <%= f.label 'Set number' %><br />
    <%= f.text_field :setnumber %>
  </div>
  <div class="field four columns">
    <%= f.label 'Phoneme order' %><br />
    <%= f.text_field :phonemeorder %>
  </div>


  <div class="clear"></div>

    <div class="field">
    <%= f.label "Image Possible?" %><br />
    <%= f.check_box :imagepossible %>
  </div>

  <div class="clear"></div>

     <div class="field four columns">
    <%= f.label "Mnemonic" %><br />
    <%= f.text_field :mneumonic %>
  </div>

  <div class="clear"></div>

     <div class="field four columns">
    <%= f.label "Mnemonic_two" %><br />
    <%= f.text_field :mneumonic_two %>
  </div>

  <div class="clear"></div>

   <div class="field two columns left">
    <%= f.label 'Completed?' %><br />
    <%= f.check_box :completed %>
  </div>
  <div class="clear"></div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

