<div id="teacher-form" class="teacher-parent-form">
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="clear"></div>
  
    <div class="field">
      <%= f.label 'Email *', class: 'col-md-3' %>
      <%= f.text_field :email, class: 'col-md-6' %>
    </div>
    <br />
    <br />
    <div class="clear"></div>
    <div class="field ">
      <%= f.label 'Teacher Name *', class: 'col-md-3' %>
      <%= f.text_field :first_name, class: 'col-md-6' %>
    </div>
    <br />
    <br />
    <div class="clear"></div>
    <div class="field ">
      <%= f.label 'School Name *', class: 'col-md-3' %>
      <%= f.text_field :school, class: 'col-md-6' %>
    </div>
    <br />
    <br />
    <div class="clear"></div>
    <div class="field ">
      <%= f.label 'School postcode', class: 'col-md-3' %>
      <%= f.text_field :postcode, class: 'col-md-6' %>
    </div>
    <br />
    <br />
    <div class="clear"></div>
    <div class="field ">
      <%= f.label 'School website', class: 'col-md-3' %>
      <%= f.text_field :website, class: 'col-md-6' %>
    </div>
    <br />
    <br />
    <div class="clear"></div>
    <div class="field  ">
      <%= f.label 'Country', class: 'col-md-3' %>
      <%= f.country_select("country", [ "United Kingdom", "US", "India" ]) %>
    </div>

      <%= f.hidden_field :user_type, :value => 'teacher' %>
      <%= f.hidden_field :invite_received, :value => false %>
      <%= f.hidden_field :program_requested, :value => true %>
      
    <div class="clear"></div>
    <br />
    <br />
    <div class="actions col-md-offset-4">
      <%= f.submit 'Submit', :class => 'btn btn-yellow' %>
    </div>
  <br />
  <br />
<% end %>
</div>
<p>* means you must fill this part in.</p>
<div id="parent-form" class="teacher-parent-form">
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="clear"></div>
    <div class="field  ">
      <%= f.label 'Email *', class: 'col-md-3' %>
      <%= f.text_field :email, class: 'col-md-6' %>
    </div>
    <br />
    <br />
    <div class="clear"></div>
    <div class="field  ">
      <%= f.label 'Name *', class: 'col-md-3' %>
      <%= f.text_field :first_name, class: 'col-md-6' %>
    </div>
    <br />
    <br />
    <div class="clear"></div>
    <div class="field  ">
      <%= f.label 'Country', class: 'col-md-3' %>
      <%= f.country_select("country", [ "United Kingdom", "US", "India" ]) %>
    </div>
    <br />
    <%= f.hidden_field :user_type, :value => 'parent' %>
    <%= f.hidden_field :invite_received, :value => false %>
    <%= f.hidden_field :program_requested, :value => true %>
    

    <div class="clear"></div>
    <br />
    <div class="actions col-md-offset-4">
      <%= f.submit 'Submit', :class => 'btn btn-yellow' %>
    </div>
  <br />
  <br />
<% end %>
</div>
