<h1>Users</h1>
<% @users.each do |user| %>
	<p>Email: <%= user.email %></p>
	<p>Payment received: <%= user.payment_received %></p>
	<p>Account username: <%= user.account_username %></p>
	<p>Child usernames: <%= user.child_usernames %></p>
	<p>Ip address: <%= user.ip_address %></p>
	<p>Platform: <%= user.platform %></p>
	<p>User type: <%= user.user_type %></p>
	<p>Country: <%= user.country %></p>
	<p>Request from web: <%= user.program_requested %></p>
	<p>Invite sent: <%= user.invite_received %></p>
	<hr />
	<br />
<% end %>