<%= form_for(@skill) do |f| %>
  <% if @skill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@skill.errors.count, "error") %> prohibited this skill from being saved:</h2>

      <ul>
      <% @skill.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :video %><br>
    <%= f.text_area :video %>
  </div>
  <div class="field">
    <%= f.label :stage_id %>
    <%= f.select :stage_id, options_for_select(Stage.all.map { |r| [r.age, r.id] }, selected: @skill.stage_id),:prompt => 'Choose a stage' %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
