<div class='row'>
    <div class="col-md-4">
    <%= image_tag('windowspc_image.png') %>
     <h3><%= link_to 'PC download - Free', new_user_path, class: 'btn btn-yellow btn-main-homepage btn-pc' %></h3>
    </div>
    <div class="col-md-4">
        <%= image_tag('ipad_container_video_homepage_smaller.png') %>
        <h3><%= link_to 'iPad download - Free', new_user_path, class: 'btn btn-yellow btn-main-homepage' %></h3>
    </div>
    <div class="col-md-4">
    <%= image_tag('mac_image.png') %>
        <h3><%= link_to 'Mac download - Free', new_user_path, class: 'btn btn-yellow btn-main-homepage btn-mac' %></h3>
    </div>
</div>