<div class="products-index-box">
<% @products.each do |product| %>
	<div class="individual-product-box col-md-3 col-sm-6 col-xs-6">
		<h4><%= product.name %></h4>
		<%= link_to image_tag(product.image), product_path(product) %>
		<br />
		<p class="margin-two-px"><%= product.price %></p>

		<% if product.comingsoon %>
			<a href="<%= product.link %>" target="_blank" class="app-store-link">
			<%= image_tag('available_app_store_100_comingsoon.png') %>
		</a>
		<% else %>
			<a href="<%= product.link %>" target="_blank" class="app-store-link">
				<%= image_tag('available_app_store_100.png') %>
			</a>
		<% end %>
	</div>
<% end %>
</div>
<div class="clearfix"></div>
<hr>