<%= form_for(@section) do |f| %>
  <% if @section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@section.errors.count, "error") %> prohibited this section from being saved:</h2>

      <ul>
      <% @section.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sectiontype %><br>
    <%= f.text_field :sectiontype %>
  </div>
  <div class="field">
    <%= f.label :programsession_id %><br>
    <%= f.number_field :programsession_id %>
  </div>
  <div class="field">
    <%= f.label :game_id %><br>
    <%= f.number_field :game_id %>
  </div>
  <div class="field">
    <%= f.label :number %><br>
    <%= f.number_field :number %>
  </div>
  <div class="field">
    <%= f.label :programmodule_id %><br>
    <%= f.number_field :programmodule_id %>
  </div>
  <div class="field">
    <%= f.label :cms_id %><br>
    <%= f.number_field :cms_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
