<h1>Listing sections</h1>

<table>
  <thead>
    <tr>
      <th>Sectiontype</th>
      <th>Programsession</th>
      <th>Game</th>
      <th>Number</th>
      <th>Programmodule</th>
      <th>Cms</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sections.each do |section| %>
      <tr>
        <td><%= section.sectiontype %></td>
        <td><%= section.programsession_id %></td>
        <td><%= section.game_id %></td>
        <td><%= section.number %></td>
        <td><%= section.programmodule_id %></td>
        <td><%= section.cms_id %></td>
        <td><%= link_to 'Show', section %></td>
        <td><%= link_to 'Edit', edit_section_path(section) %></td>
        <td><%= link_to 'Destroy', section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Section', new_section_path %>
