<p id="notice"><%= notice %></p>

<p>
  <strong>Sectiontype:</strong>
  <%= @section.sectiontype %>
</p>

<p>
  <strong>Programsession:</strong>
  <%= @section.programsession_id %>
</p>

<p>
  <strong>Game:</strong>
  <%= @section.game_id %>
</p>

<p>
  <strong>Number:</strong>
  <%= @section.number %>
</p>

<p>
  <strong>Programmodule:</strong>
  <%= @section.programmodule_id %>
</p>

<p>
  <strong>Cms:</strong>
  <%= @section.cms_id %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
