<%= form_for(@quizquestion) do |f| %>
  <% if @quizquestion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quizquestion.errors.count, "error") %> prohibited this quizquestion from being saved:</h2>

      <ul>
      <% @quizquestion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :question %><br>
    <%= f.text_area :question %>
  </div>
  <div class="field">
    <%= f.label :correctanswer %><br>
    <%= f.text_field :correctanswer %>
  </div>
  <div class="field">
    <%= f.label :dummyanswer1 %><br>
    <%= f.text_field :dummyanswer1 %>
  </div>
  <div class="field">
    <%= f.label :dummyanswer2 %><br>
    <%= f.text_field :dummyanswer2 %>
  </div>
  <div class="field">
    <%= f.label :pipisode_id %><br>
    <%= f.number_field :pipisode_id %>
  </div>
  <div class="field">
    <%= f.label :programsession_id %><br>
    <%= f.number_field :programsession_id %>
  </div>
  <div class="field">
    <%= f.label :story_id %><br>
    <%= f.number_field :story_id %>
  </div>
  <div class="field">
    <%= f.label :porgrammodule_id %><br>
    <%= f.number_field :porgrammodule_id %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :question_french %><br>
    <%= f.text_area :question_french %>
  </div>
  <div class="field">
    <%= f.label :question_spanish %><br>
    <%= f.text_area :question_spanish %>
  </div>
  <div class="field">
    <%= f.label :question_mandarin %><br>
    <%= f.text_area :question_mandarin %>
  </div>
  <div class="field">
    <%= f.label :correct_answer_french %><br>
    <%= f.text_field :correct_answer_french %>
  </div>
  <div class="field">
    <%= f.label :correct_answer_spanish %><br>
    <%= f.text_field :correct_answer_spanish %>
  </div>
  <div class="field">
    <%= f.label :correct_answer_mandarin %><br>
    <%= f.text_field :correct_answer_mandarin %>
  </div>
  <div class="field">
    <%= f.label :dummyanswer1_french %><br>
    <%= f.text_field :dummyanswer1_french %>
  </div>
  <div class="field">
    <%= f.label :dummyanswer1_spanish %><br>
    <%= f.text_field :dummyanswer1_spanish %>
  </div>
  <div class="field">
    <%= f.label :dummyanswer1_mandarin %><br>
    <%= f.text_field :dummyanswer1_mandarin %>
  </div>
  <div class="field">
    <%= f.label :dummyanswer2_french %><br>
    <%= f.text_field :dummyanswer2_french %>
  </div>
  <div class="field">
    <%= f.label :dummyanswer2_spanish %><br>
    <%= f.text_field :dummyanswer2_spanish %>
  </div>
  <div class="field">
    <%= f.label :dummyanswer2_mandarin %><br>
    <%= f.text_field :dummyanswer2_mandarin %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
