<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @quizquestion.question %>
</p>

<p>
  <strong>Correctanswer:</strong>
  <%= @quizquestion.correctanswer %>
</p>

<p>
  <strong>Dummyanswer1:</strong>
  <%= @quizquestion.dummyanswer1 %>
</p>

<p>
  <strong>Dummyanswer2:</strong>
  <%= @quizquestion.dummyanswer2 %>
</p>

<p>
  <strong>Pipisode:</strong>
  <%= @quizquestion.pipisode_id %>
</p>

<p>
  <strong>Programsession:</strong>
  <%= @quizquestion.programsession_id %>
</p>

<p>
  <strong>Story:</strong>
  <%= @quizquestion.story_id %>
</p>

<p>
  <strong>Porgrammodule:</strong>
  <%= @quizquestion.porgrammodule_id %>
</p>

<p>
  <strong>Image:</strong>
  <%= @quizquestion.image %>
</p>

<p>
  <strong>Question french:</strong>
  <%= @quizquestion.question_french %>
</p>

<p>
  <strong>Question spanish:</strong>
  <%= @quizquestion.question_spanish %>
</p>

<p>
  <strong>Question mandarin:</strong>
  <%= @quizquestion.question_mandarin %>
</p>

<p>
  <strong>Correct answer french:</strong>
  <%= @quizquestion.correct_answer_french %>
</p>

<p>
  <strong>Correct answer spanish:</strong>
  <%= @quizquestion.correct_answer_spanish %>
</p>

<p>
  <strong>Correct answer mandarin:</strong>
  <%= @quizquestion.correct_answer_mandarin %>
</p>

<p>
  <strong>Dummyanswer1 french:</strong>
  <%= @quizquestion.dummyanswer1_french %>
</p>

<p>
  <strong>Dummyanswer1 spanish:</strong>
  <%= @quizquestion.dummyanswer1_spanish %>
</p>

<p>
  <strong>Dummyanswer1 mandarin:</strong>
  <%= @quizquestion.dummyanswer1_mandarin %>
</p>

<p>
  <strong>Dummyanswer2 french:</strong>
  <%= @quizquestion.dummyanswer2_french %>
</p>

<p>
  <strong>Dummyanswer2 spanish:</strong>
  <%= @quizquestion.dummyanswer2_spanish %>
</p>

<p>
  <strong>Dummyanswer2 mandarin:</strong>
  <%= @quizquestion.dummyanswer2_mandarin %>
</p>

<%= link_to 'Edit', edit_quizquestion_path(@quizquestion) %> |
<%= link_to 'Back', quizquestions_path %>
