<div class="container">
	<h1>Understand the colour stages</h1>
	<% @colourposts.each do |c| %>

		<div class="colourband-container row">
			<h2><%= c.title %></h2>
			<div class="col-md-6">
				<img src="#">
			</div>
			<div class="col-md-6">
				<h2><%= raw(c.body_text) %></h2>
			</div>
			<% if c.url.present? %>
				<a href="/<%= c.url %>" target="_blank" class="btn btn-yellow"><%= c.linklabel %></a>
			<% end %>
		</div>
		<hr />
		
	<% end %>

	<h1>How to use Pip to progress through the colour band</h1>
	<% @userguideposts.each do |c| %>

		<div class="colourband-container row">
			<h2><%= c.title %></h2>
			<div class="col-md-6">
				<img src="#">
			</div>
			<div class="col-md-6">
				<h2><%= raw(c.body_text) %></h2>
			</div>
			<% if c.url.present? %>
				<a href="/<%= c.url %>" target="_blank" class="btn btn-yellow"><%= c.linklabel %></a>
			<% end %>
		</div>
		<hr />
		
	<% end %>
</div>