<div class="container">
	<h1 class="text-center"><%= image_tag("banner_information_for_parents_website.png") %></h1>
	<h1>Curriculum</h1>
	<div class="curriculum-img">
		<%= image_tag("pip_phase2.jpg") %>
		<%= image_tag("pip_phase3.jpg") %>
		<%= image_tag("pip_phase4.jpg") %>
		<%= image_tag("pip_phase5_part1.jpg") %>
		<%= image_tag("pip_phase5_part2.jpg") %>
	</div>
</div>
<hr />