<div class="container">
	<h1 class="text-center"><%= image_tag("banner_information_for_parents_website.png") %></h1>
	<h1>Curriculum</h1>
	<p>This is the curriculum that the full Learn to read with Pip learning programme covers.  It uses the systematic synthetic phonics approach to literacy that is used in classrooms across the country.</p>
	<br >
	<br >
	<div class="curriculum-img">
		<h1><a href="#" name='phase2'></a></h1>
		<%= image_tag("pip_phase2.jpg") %>
		<h1><a href="#" name='phase3'></a></h1>
		<%= image_tag("pip_phase3.jpg") %>
		<h1><a href="#" name='phase4'></a></h1>
		<%= image_tag("pip_phase4.jpg") %>
		<h1><a href="#" name='phase5-1'></a></h1>
		<%= image_tag("pip_phase5_part1.jpg") %>
		<h1><a href="#" name='phase5-2'></a></h1>
		<%= image_tag("pip_phase5_part2.jpg") %>
		<h1><a href="#" name='phase5-3'></a></h1>
		<%= image_tag("pip_phase5_part3.jpg") %>
		<h1><a href="#" name='phase5-4'></a></h1>
		<%= image_tag("pip_phase5_part4.jpg") %>
		<h1><a href="#" name='phase5-5'></a></h1>
		<%= image_tag("pip_phase5_part5.jpg") %>
		<h1><a href="#" name='phase5-6'></a></h1>
		<%= image_tag("pip_phase5_part6.jpg") %>
		<h1><a href="#" name='phase5-7'></a></h1>
		<%= image_tag("pip_phase5_part7.jpg") %>
		<h1><a href="#" name='phase5-8'></a></h1>
		<%= image_tag("pip_phase5_part8.jpg") %>
	</div>
</div>
<hr />