<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :gametype %><br>
    <%= f.text_field :gametype %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :skill %><br>
    <%= f.text_field :skill %>
  </div>
  <div class="field">
    <%= f.label :overview %><br>
    <%= f.text_area :overview %>
  </div>
  <div class="field">
    <%= f.label :multiplayer %><br>
    <%= f.check_box :multiplayer %>
  </div>
  <div class="field">
    <%= f.label :labeltext %><br>
    <%= f.text_field :labeltext %>
  </div>
  <div class="field">
    <%= f.label :picture_game %><br>
    <%= f.check_box :picture_game %>
  </div>
  <div class="field">
    <%= f.label :label_game %><br>
    <%= f.check_box :label_game %>
  </div>
  <div class="field">
    <%= f.label :cms_id %><br>
    <%= f.number_field :cms_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
