<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Gametype:</strong>
  <%= @game.gametype %>
</p>

<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<p>
  <strong>Skill:</strong>
  <%= @game.skill %>
</p>

<p>
  <strong>Overview:</strong>
  <%= @game.overview %>
</p>

<p>
  <strong>Multiplayer:</strong>
  <%= @game.multiplayer %>
</p>

<p>
  <strong>Labeltext:</strong>
  <%= @game.labeltext %>
</p>

<p>
  <strong>Picture game:</strong>
  <%= @game.picture_game %>
</p>

<p>
  <strong>Label game:</strong>
  <%= @game.label_game %>
</p>

<p>
  <strong>Cms:</strong>
  <%= @game.cms_id %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
