<div class="container">
  <h1>Listing words</h1>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>CMS ID</th>
        <th>Word</th>
        <th>Highfrequencyword</th>
        <th>Tricky</th>
        <th>Ordered phonemes</th>
        
       
      </tr>
    </thead>

    <tbody>
      <% @words.each do |word| %>
        <tr>
          <td><%= word.id %></td>
          <td><%= word.cms_id %></td>
          <td><%= word.word %></td>
          <td><%= word.highfrequencyword %></td>
          <td><%= word.tricky %></td>
          <td><% if word.ordered_phonemes %>
            <% phonemes = word.ordered_phonemes %>
            <% phonemes.each do |p| %>
              <%= p['phoneme'] %>
            <% end %>
          <% end %></td>

        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
</div>
