
<div class="container">
<%= form_for(@learninggame) do |f| %>
  <% if @learninggame.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@learninggame.errors.count, "error") %> prohibited this learninggame from being saved:</h2>

      <ul>
      <% @learninggame.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :skill %><br>
    <%= f.text_field :skill %>
  </div>
  <div class="field">
    <%= f.label :learningobjective %><br>
    <%= f.text_field :learningobjective %>
  </div>
  <div class="field">
    <%= f.label :instructions %><br>
    <%= f.text_area :instructions %>
  </div>
  <div class="field">
    <%= f.label :resources %><br>
    <%= f.text_area :resources %>
  </div>
  <div class="field">
    <%= f.label :extension %><br>
    <%= f.text_area :extension %>
  </div>
  <div class="field">
    <%= f.label :video %><br>
    <%= f.text_field :video %>
  </div>
  <div class="field">
    <%= f.label :stage_id %>
    <%= f.select :stage_id, options_for_select(Stage.all.map { |r| [r.age, r.id] }, selected: @learninggame.stage_id),:prompt => 'Choose a stage' %>
  </div>
  <div class="field">
    <%= f.label :skill_id %>
    <%= f.select :skill_id, options_for_select(Skill.all.map { |r| [r.name, r.id] }, selected: @learninggame.skill_id),:prompt => 'Choose a skill' %>
  </div>
    <br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
