<div class="container">
    <h1>Learning games</h1>
        <% @learninggames.each do |learninggame| %>
          <div>
            <h2><%= learninggame.name %></h2>
            <p><%= learninggame.learningobjective %></p>
            <p><%= learninggame.instructions %></p>
            <p><%= learninggame.extension %></p>
            <%= raw(learninggame.video) %>
            <p><% if learninggame.skill %>Skill: <%= link_to learninggame.skill.name, skill_path(learninggame.skill) %><% end %></p>
            <br >
            <td><%= link_to 'Show', learninggame %></td>
            <td><%= link_to 'Edit', edit_learninggame_path(learninggame) %></td>
            <td><%= link_to 'Destroy', learninggame, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </div>
        <hr >
        <% end %>


    <br>

    <%= link_to 'New Learning game', new_learninggame_path, class: 'btn btn-success' %>
</div>
