<div class="container">

  <p id="notice"><%= notice %></p>
  <h1><%= @learninggame.name %></h1>
  

  <p>
    <strong>What's the skill we're practising?</strong>
    <%= @learninggame.skill %>
  </p>

  <p>
    <strong>Why is that important?</strong>
    <%= @learninggame.learningobjective %>
  </p>

  <p>
    <strong>How do we play?</strong>
    <%= @learninggame.instructions %>
  </p>

  <p>
    <strong>What things do I need to play?</strong>
    <%= raw(@learninggame.resources) %>
  </p>

  <p>
    <strong>How can I make the game harder?</strong>
    <%= @learninggame.extension %>
  </p>

  <p>
    
    <%= raw(@learninggame.video) %>
  </p>

  <%= link_to 'Back to other games', learninggames_path, class: 'btn btn-success' %>
</div>
