<div class="container">
  <h1>Progress stages (colour bands)</h1>
  <% @stages.each do |s| %>
    <div class="row">
      <div class="col-md-6">
        <%= raw(s.video) %>
      </div>
      <div class="col-md-6">
        <h2>
          <a href="<%= s.test_url %>" target="_blank" class="btn btn-yellow <%= s.colour.downcase %>">
            <%= s.colour %> level test
          </a>
        </h2>
        <p><%= raw(s.description) %></p>
      </div>
    </div>
    <hr>
    <div class="clear"></div>
  <% end %>
</div>



