<%= form_for(@learningsession) do |f| %>
  <% if @learningsession.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@learningsession.errors.count, "error") %> prohibited this session from being saved:</h2>

      <ul>
      <% @learningsession.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :account_username %><br>
    <%= f.text_field :account_username %>
  </div>
  <div class="field">
    <%= f.label :child_name %><br>
    <%= f.text_field :child_name %>
  </div>
  <div class="field">
    <%= f.label :has_completed %><br>
    <%= f.number_field :has_completed %>
  </div>
  <div class="field">
    <%= f.label :start %><br>
    <%= f.datetime_select :start %>
  </div>
  <div class="field">
    <%= f.label :end %><br>
    <%= f.datetime_select :end %>
  </div>
  <div class="field">
    <%= f.label :session_identifier %><br>
    <%= f.text_field :session_identifier %>
  </div>
  <div class="field">
    <%= f.label :session_name %><br>
    <%= f.text_field :session_name %>
  </div>
  <div class="field">
    <%= f.label :session_id %><br>
    <%= f.number_field :session_id %>
  </div>
  <div class="field">
    <%= f.label :session_number %><br>
    <%= f.number_field :session_number %>
  </div>
  <div class="field">
    <%= f.label :session_type %><br>
    <%= f.text_field :session_type %>
  </div>
  <div class="field">
    <%= f.label :scenes %><br>
    <%= f.text_field :scenes %>
  </div>
  <div class="field">
    <%= f.label :phoneme_ids %><br>
    <%= f.text_field :phoneme_ids %>
  </div>
  <div class="field">
    <%= f.label :target_phoneme_id %><br>
    <%= f.number_field :target_phoneme_id %>
  </div>
  <div class="field">
    <%= f.label :word_ids %><br>
    <%= f.text_field :word_ids %>
  </div>
  <div class="field">
    <%= f.label :target_word_id %><br>
    <%= f.number_field :target_word_id %>
  </div>
  <div class="field">
    <%= f.label :keyword_ids %><br>
    <%= f.text_field :keyword_ids %>
  </div>
  <div class="field">
    <%= f.label :target_keyword_id %><br>
    <%= f.number_field :target_keyword_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
