<h1>Listing sessions</h1>

<table>
  <thead>
    <tr>
      <th>Account username</th>
      <th>Child name</th>
      <th>Has completed</th>
      <th>Start</th>
      <th>End</th>
      <th>Session identifier</th>
      <th>Session name</th>
      <th>Session</th>
      <th>Session number</th>
      <th>Session type</th>
      <th>Scenes</th>
      <th>Phoneme ids</th>
      <th>Target phoneme</th>
      <th>Word ids</th>
      <th>Target word</th>
      <th>Keyword ids</th>
      <th>Target keyword</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @learningsessions.each do |learningsession| %>
      <tr>
        <td><%= learningsession.account_username %></td>
        <td><%= learningsession.child_name %></td>
        <td><%= learningsession.has_completed %></td>
        <td><%= learningsession.start %></td>
        <td><%= learningsession.end %></td>
        <td><%= learningsession.session_identifier %></td>
        <td><%= learningsession.session_name %></td>
        <td><%= learningsession.session_id %></td>
        <td><%= learningsession.session_number %></td>
        <td><%= learningsession.session_type %></td>
        <td><%= learningsession.scenes %></td>
        <td><%= learningsession.phoneme_ids %></td>
        <td><%= learningsession.target_phoneme_id %></td>
        <td><%= learningsession.word_ids %></td>
        <td><%= learningsession.target_word_id %></td>
        <td><%= learningsession.keyword_ids %></td>
        <td><%= learningsession.target_keyword_id %></td>
        <td><%= link_to 'Show', learningsession %></td>
        <td><%= link_to 'Edit', edit_learningsession_path(learningsession) %></td>
        <td><%= link_to 'Destroy', learningsession, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New learningsession', new_learningsession_path %>
