<p id="notice"><%= notice %></p>

<p>
  <strong>Account username:</strong>
  <%= @learningsession.account_username %>
</p>

<p>
  <strong>Child name:</strong>
  <%= @learningsession.child_name %>
</p>

<p>
  <strong>Has completed:</strong>
  <%= @learningsession.has_completed %>
</p>

<p>
  <strong>Start:</strong>
  <%= @learningsession.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @learningsession.end %>
</p>

<p>
  <strong>Session identifier:</strong>
  <%= @learningsession.session_identifier %>
</p>

<p>
  <strong>Session name:</strong>
  <%= @learningsession.session_name %>
</p>

<p>
  <strong>Session:</strong>
  <%= @learningsession.session_id %>
</p>

<p>
  <strong>Session number:</strong>
  <%= @learningsession.session_number %>
</p>

<p>
  <strong>Session type:</strong>
  <%= @learningsession.session_type %>
</p>

<p>
  <strong>Scenes:</strong>
  <%= @learningsession.scenes %>
</p>

<p>
  <strong>Phoneme ids:</strong>
  <%= @learningsession.phoneme_ids %>
</p>

<p>
  <strong>Target phoneme:</strong>
  <%= @learningsession.target_phoneme_id %>
</p>

<p>
  <strong>Word ids:</strong>
  <%= @learningsession.word_ids %>
</p>

<p>
  <strong>Target word:</strong>
  <%= @learningsession.target_word_id %>
</p>

<p>
  <strong>Keyword ids:</strong>
  <%= @learningsession.keyword_ids %>
</p>

<p>
  <strong>Target keyword:</strong>
  <%= @learningsession.target_keyword_id %>
</p>

<%= link_to 'Edit', edit_learningsession_path(@learningsession) %> |
<%= link_to 'Back', learningsessions_path %>
