<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :video_url %><br>
    <%= f.text_area :video_url %>
  </div>
  <div class="field">
    <%= f.label :image_url %><br>
    <%= f.text_field :image_url %>
  </div>
  <div class="field">
    <%= f.label :body_text %><br>
    <%= f.text_area :body_text %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :subject_reading %><br>
    <%= f.check_box :subject_reading %>
  </div>
  <div class="field">
    <%= f.label :subject_maths %><br>
    <%= f.check_box :subject_maths %>
  </div>
  <div class="field">
    <%= f.label :subject_world %><br>
    <%= f.check_box :subject_world %>
  </div>
  <div class="field">
    <%= f.label :subject_english %><br>
    <%= f.check_box :subject_english %>
  </div>
  <div class="field">
    <%= f.label :priority_level %><br>
    <%= f.number_field :priority_level %>
  </div>
  <div class="field">
    <%= f.label :lilac %><br>
    <%= f.check_box :lilac %>
  </div>
  <div class="field">
    <%= f.label :pink %><br>
    <%= f.check_box :pink %>
  </div>
  <div class="field">
    <%= f.label :red %><br>
    <%= f.check_box :red %>
  </div>
  <div class="field">
    <%= f.label :yellow %><br>
    <%= f.check_box :yellow %>
  </div>
  <div class="field">
    <%= f.label :blue %><br>
    <%= f.check_box :blue %>
  </div>
  <div class="field">
    <%= f.label :green %><br>
    <%= f.check_box :green %>
  </div>
  <div class="field">
    <%= f.label :orange %><br>
    <%= f.check_box :orange %>
  </div>
  <div class="field">
    <%= f.label :linklabel %><br>
    <%= f.text_field :linklabel %>
  </div>
  <div class="field">
    <%= f.label :publishable %><br>
    <%= f.check_box :publishable %>
  </div>
  <div class="field">
    <%= f.label :order_number %><br>
    <%= f.number_field :order_number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
