<%= form_for(@data_phoneme) do |f| %>
  <% if @data_phoneme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@data_phoneme.errors.count, "error") %> prohibited this data_phoneme from being saved:</h2>

      <ul>
      <% @data_phoneme.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :section_id %><br>
    <%= f.number_field :section_id %>
  </div>
  <div class="field">
    <%= f.label :phoneme_id %><br>
    <%= f.number_field :phoneme_id %>
  </div>
  <div class="field">
    <%= f.label :is_target_phoneme %><br>
    <%= f.check_box :is_target_phoneme %>
  </div>
  <div class="field">
    <%= f.label :is_dummy_phoneme %><br>
    <%= f.check_box :is_dummy_phoneme %>
  </div>
  <div class="field">
    <%= f.label :programsession_id %><br>
    <%= f.number_field :programsession_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
