<h1>Listing data_phonemes</h1>

<table>
  <thead>
    <tr>
      <th>Section</th>
      <th>Phoneme</th>
      <th>Is target phoneme</th>
      <th>Is dummy phoneme</th>
      <th>Programsession</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @data_phonemes.each do |data_phoneme| %>
      <tr>
        <td><%= data_phoneme.section_id %></td>
        <td><%= data_phoneme.phoneme_id %></td>
        <td><%= data_phoneme.is_target_phoneme %></td>
        <td><%= data_phoneme.is_dummy_phoneme %></td>
        <td><%= data_phoneme.programsession_id %></td>
        <td><%= link_to 'Show', data_phoneme %></td>
        <td><%= link_to 'Edit', edit_data_phoneme_path(data_phoneme) %></td>
        <td><%= link_to 'Destroy', data_phoneme, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Data phoneme', new_data_phoneme_path %>
