<h1>Listing activities</h1>

<table>
  <thead>
    <tr>
      <th>Account username</th>
      <th>Child name</th>
      <th>Completed?</th>
      <th>Session ID</th>
      <th>Scene</th>
      <th>Set num</th>
      <th>Section ID</th>
      <th>Num answers</th>
      <th>Phoneme ids</th>
      <th>Incorrect phoneme ids</th>
      <th>Words ids</th>
      <th>Incorrect word ids</th>
      <th>Story id</th>
      <th>Pip Pad calls</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.account_username %></td>
        <td><%= activity.child_name %></td>
        <td><%= activity.has_completed %></td>
        <td><%= activity.session_identifier %></td>
        <td><%= activity.scene %></td>
        <td><%= activity.set_num %></td>
        <td><%= activity.section_id %></td>
        <td><%= activity.num_answers %></td>
        <td><%= activity.phoneme_ids %></td>
        <td><%= activity.incorrect_phoneme_ids %></td>
        <td><%= activity.word_ids %></td>
        <td><%= activity.incorrect_word_ids %></td>
        <td><%= activity.story_id %></td>
        <td><%= activity.pip_pad_calls %></td>
        <td><%= activity.created_at %></td>
        <td><%= activity.updated_at %></td>
        <td><%= link_to 'Show', activity %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activity', new_activity_path %>
