<!DOCTYPE html>
<html>
<head>
  	<title>Learn to read with Pip - Helping children learn to read</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="Description" content="Learn to read with Pip is an education company creating the highest quality products to help children improve their reading skills with apps that encourage them to continue learning beyond the classroom">
  	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  	<%= csrf_meta_tags %>
  	<meta name="google-site-verification" content="c9jatNTAMqFVxUZZlUCersnXTPNZRuPmShK2yInP-eA" />
</head>
<body>
	<%= render :partial => "shared/header" %>
	<%= yield %>
	<%= render :partial => "shared/footer" %>
	<%= render :partial => "shared/googleanalytics" %>

</body>
</html>
